#topbar {
    padding-top: 12px;
    height: 14.5%;
    width: 100%;
    background-color: #0f6a63;
    position: absolute;
    bottom: 85.5%;
    display: inline;
}
#topbar #statusBar p{
    display: inline;
    width: 500px;
    height: 500px;
    font-size: 40px;
    position: relative;
    top: 19%;
    text-align: center;
}
#statusBar {
    height: 500px;
}
button {
    width: 65px;
    height: 55px;
    padding: 7px;
    padding-top: 9px;
    margin: 12px;
    background-color: transparent;
    font-size: 15px;
}
.glyspan {
    font-size: 25px;
    color: yellow;
    display: block
}
.dialog {
    height: 300px;
    width: 550px;
    border: 5px solid black;
    padding-left: 50px;
    padding-top: 10px;
    margin: 6px;
    display: none;
    position: absolute;
    background-color: lightblue;
    z-index: 5000;
}
label[for="username_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: inline;
    position: relative;
    left: 43px;
    top: 26px
}
label[for="password_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: block;
    position: relative;
    left: 43px;
    top: 48px;
}
label[for="key_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: block;
    position: relative;
    left: 43px;
    top: 38px;
}
#username_txtinp {
    width: 178px;
    height: 35px;
    position: relative;
    left: 60px;
    top: 23px;
    font-size: 17px;
}
#password_txtinp {
    width: 178px;
    height: 35px;
    display: inline;
    position: relative;
    left: 190px;
    top: 8px;
    font-size: 17px;
}
#key_txtinp {
    width: 178px;
    height: 35px;
    display: inline;
    position: relative;
    left: 190px;
    top: -2px;
    font-size: 17px;
}
#login_btn {
    position: relative;
    top: 50px;
    width: 100px;
    height: 35px;
    font-size: 16px;
}
#overlay {
    background-color: gray;
    width: 100%;
    height: 110%;
    position: fixed;
    z-index: 4000;
    opacity: 0.75;
    display: none;
    bottom: 0px;
}
