#text_display {
    width: 100%;
    font-size: 50px;
    display: block;
    text-align: center;
    height: inherit;
    margin-bottom: 23px;
}
#send_btn {
    width: 65px;
    padding: 5px;
}
#textarea {
    width: 300px;
    height: 35px;
    display: block;
    margin-bottom: 1em;
}
#jumbotron_background {
    position: relative;
    width: 100%;
    background-color: #aec6ae;
    padding: 2px;
    margin-bottom: 25px;
}
#type_select {
    display: block;
    width: 125px;
    height: 35px;
    margin-bottom: 12px;
}
#ui-dialog {
    width: 450px;
    height: 250px;
    border: 3px solid black;
    z-index: 1500;
    position: fixed;
    display: none;
    background-color: #a39c9c;
}
#dialog-overlay {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: gray;
    opacity: 0.8;
}
label[for="username_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: inline;
    position: relative;
    left: 43px;
    top: 26px
}
label[for="password_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: block;
    position: relative;
    left: 43px;
    top: 48px;
}
label[for="key_txtinp"] {
    color: #332323;
    font-size: 24px;
    display: block;
    position: relative;
    left: 43px;
    top: 38px;
}
#username_txtinp {
    width: 178px;
    height: 35px;
    position: relative;
    left: 60px;
    top: 23px;
    font-size: 17px;
}
#password_txtinp {
    width: 178px;
    height: 35px;
    display: inline;
    position: relative;
    left: 190px;
    top: 8px;
    font-size: 17px;
}
#key_txtinp {
    width: 178px;
    height: 35px;
    display: inline;
    position: relative;
    left: 190px;
    top: -2px;
    font-size: 17px;
}
#login_btn {
    position: relative;
    top: 50px;
    width: 100px;
    height: 35px;
    font-size: 16px;
}